.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms $timing-function,
        visibility 250ms $timing-function;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);

}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    min-width: 528px;
    min-height: 581px;
    padding: 40px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    background-color: $white-color;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms $timing-function;
}
.modal__button-close {
    display: flex;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;



    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    background-color: $white-color;
    cursor: pointer;

    transition: fill 250ms $timing-function;

    &:hover {
        fill: $blue-color;
    }
}

.modal__title {
    margin-top: 2px;
    margin-bottom: 12px;

    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;

    color: $basic-title-color;
    
}
