.contact {
    display: flex;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
}
.contact__item {
    position: relative;

    &:not(:last-child) {
        margin-right: 50px;
    }
}
.contact__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $base-text-color;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
        color: $blue-color;
    }
    
    &::after{
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        
        width: 100%;
                
        background-color: $blue-color;
        
        transform: scaleX(0);
        transition: transform 250ms $timing-function,
        border 250ms $timing-function,
        border-radius 250ms $timing-function;
    }
    &:hover::after {
        transform: scaleX(1);
        border: 2px solid $blue-color;
        border-radius: 2px;        
        
    }
   
}
.contact__icon {
    margin-right: 10px;
    fill: currentColor;
}