.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 60px;
    padding-bottom: 60px;    
    background-color: #2F303A;
    text-align: center;
    // @media screen and (min-width:768px){
    //     flex-wrap: wrap;
    // }
    
    @media screen and (min-width:1200px){
        display: flex;}
        
}

.footer__container {    
    
    @media screen and (min-width:768px) {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: baseline;}
}
.footer__adress-block{
    @media screen and (min-width:768px) and (max-width:1199px) {
        display: inline-block;
        margin-left: 76px;
        margin-right: 165px;
        margin-bottom: 60px;
    }
}
.footer__group {
    
    // @media screen and (min-width: 768px) {
    //             display: inline-block;
    //             vertical-align: top;
    //             margin-top: 10px;
    
    //     }
    @media screen and (min-width: 1200px) {
        margin-left: 70px;    
    
    }
}
.footer__title {
    display: block;
    
    margin-bottom: 20px;

    color: $white-color;    

    // @media screen and (min-width: 1200px){
    

    // }
}
.footer__link--greey {
    background-color: rgba(255, 255, 255, 0.1);
}
.footer__icon {
    fill: $white-color;
}
.footer__form {
    @media screen and (min-width: 768px) {
            margin-left: auto;
            margin-right: auto;
            width: 450px;
        }
    
@media screen and (min-width: 1200px) {
     margin-left: 93px;
     margin-right: 0;    
    
        }
}

.footer__position{
    @media screen and (min-width: 768px) and (max-width:1199px) {
       display: flex;      
        flex-direction: column;
        justify-content: center;
        align-items: center;
       }
            @media screen and (min-width: 1200px) {
display: flex;
            }
}
.footer__input {
    width: 100%;    
    padding: 15px 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    color: $white-color;
    background-color: #2F303A;

    font-size: 16px;
    line-height: 1.25;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    transition: border 250ms $timing-function;

    &:focus {
        border: 1px solid $white-color;
    }
}
.footer__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    padding: 10px 28px;
    
    @media screen and (min-width: 1200px) {
        margin-top: 0;
        margin-left: 12px;
    
    }
}
.footer__svg {
    margin-left: 10px;
    fill: $white-color;
}
