.nav {
    display: block;
    
  @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;

    }
    }

.nav__list {   
    @extend %ul;      
   display: block;
    text-decoration: none;
    
    z-index: 20;

@media screen and (min-width: 768px) {
        display: flex;
        
        margin-left: 88px;

    }
@media screen and (min-width: 1200px) {           
            margin-left: 93px;
    
        }
}
.nav__item{
    
   
    &:not(:last-child) {
        margin-bottom: 32px;
    
        @media screen and (min-width: 768px) {
            margin-right: 50px;
            margin-bottom: 0;
    
        }
}
}
.nav__link {
    position: relative;
    display: block;
    

    color: $basic-title-color;
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    padding-top: 16px;
    padding-bottom: 16px;

    transition: color 250ms $timing-function;

@media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14; 
    text-align: center;

    padding-top: 32px;
    padding-bottom: 32px;

    }
    &:hover,
    &:focus {
        color: $blue-color;
    }

    &--active{
        
        color: $blue-color;
    }
   @media screen and (min-width: 768px) {
    &--active::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        
        width: 100%;
        border: 2px solid $blue-color;
        border-radius: 2px;
        background-color: $blue-color;
    }
    
}
}