.nav {
    display: block;
    
  @media screen and (min-width: 768px) {
        display: flex;

    }
    }

.nav__list {    
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    
    // text-align: center;
    text-decoration: none;
    list-style: none;

@media screen and (min-width: 768px) {
        display: flex;
        // text-align: left;

    }
}

.nav__item:not(:last-child) {    

    @media screen and (min-width: 768px) {        
         margin-right: 50px;
    
    }
}
.nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $basic-title-color;
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;


    transition: color 250ms $timing-function;
@media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;

    }
    &:hover,
    &:focus {
        color: $blue-color;
    }

    &--active{
        position: relative;
        color: $blue-color;
    }
    @media screen and (min-width: 768px){
    &--active::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        
        width: 100%;
        border: 2px solid $blue-color;
        border-radius: 2px;
        background-color: $blue-color;
    }}
    
    
}