.section {   
    padding: 60px 0;    
    
   
    
    &--title{
        margin-top: 0;
        margin-bottom: 30px;
    
        font-weight: 700;
        font-size: 28px;
        line-height: 1.18;
        text-align: center;
        color: $basic-title-color;
      
@media screen and (min-width:1200px) {
            margin-bottom: 50px;

            font-size: 36px;
            line-height: 1.17;
        }
    }
    &--discolored{
        background-color: #F5F4FA;
      }          
@media screen and (min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
                  }
    &--no-padding {                
                
        @media screen and (min-width:1200px) {
                padding-top: 0;
                                      }
        }
}

.section--no-padding{
@media screen and (max-width: 1199px) {
        display: none;
    }
}