body {
    margin: 0;
    color: $base-text-color;
    font-family: $basic-font-family;
    letter-spacing: 0.03em;
    background: $white-color;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}