$basic-title-color: #212121;
$base-text-color: #757575;
$white-color: #ffffff;
$blue-color: #2196f3;
$background-icon: #F5F4FA;
$color-icon-command: #AFB1B8;
$button-hover: #188ce8;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$basic-font-family: 'Roboto',sans-serif;
// $secondary-font-family: